/* Reset some default styles */
body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #d3a696;
    font-family: Arial, sans-serif;
}

/* Style header */
header {
    background-color: #a4afdd;
    color: #882727;
    text-align: center;
    padding: 50px 0;
}

/* Style container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Style navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #d3a696;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #085f42;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #e49d8c;
}

/* barang sections */
.section {
    background-color: #ccbbc8;
    padding: 40px 0;
}

/* Style about me section */
.about-me {
    text-align: center;
}

.about-me img {
    max-width: 20%;
    height: auto;
    margin-bottom: 30px;
}

/* barang list */
.hijab-list {
    text-align: center;
    margin-top: 30px;
}

.barang-list img {
    max-width: 25%;
    margin: 10px;
    border: 1px solid #f5d6a4;
    border-radius: 5px;
}

/* Style footer */
footer {
    background-color: #dda4a4;
    color: #550c0c;
    text-align: center;
    padding: 10px 0;
}